In [1]:
# List Comprehension :

In [ ]:
lst = [1,2,3,4,5,6]

In [2]:
# Fetch all the values in list

[x for x in lst]

[1, 2, 3, 4, 5, 6]

In [3]:
# Expression : Square of the elemnets

[x*2 for x in lst]

[2, 4, 6, 8, 10, 12]

In [4]:
# Expression : condition even

[x for x in lst if (x %2 ==0)]

[2, 4, 6]

In [5]:
["Even" if i%2==0 else "Odd" for i in range(8)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [6]:
[[i*j for j in range(1,11)] for i in range(7,9)]

[[7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]

In [ ]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']] 

[val for sublist in matrix for val in sublist]

In [7]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [8]:
sdff = [['The', 'King', 'James', 'Bible'],
        ['The', 'Old', 'Testament', 'of', 'the', 'King', 'James', 'Bible'],
        ['The', 'First', 'Book', 'of', 'Moses', ':', 'Called', 'Genesis']]

txt = []

In [9]:
[val for sublist in sdff for val in sublist]

['The',
 'King',
 'James',
 'Bible',
 'The',
 'Old',
 'Testament',
 'of',
 'the',
 'King',
 'James',
 'Bible',
 'The',
 'First',
 'Book',
 'of',
 'Moses',
 ':',
 'Called',
 'Genesis']

In [1]:
l = [['40', '20', '10', '30'], 
     ['20', '20', '20', '20', '20', '30', '20'], 
     ['30', '20', '30', '50', '10', '30', '20', '20', '20'], 
     ['100', '100'], 
     ['100', '100', '100', '100', '100'], 
     ['100', '100', '100', '100']]

In [2]:

[float(y) for x in l for y in x]

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

In [1]:
list1 = ["apple",2, "banana", 1,5]

[x for x in list1 if type(x) ==int ]

[2, 1, 5]

In [3]:
# Flattening nested Sub-Lists

list2 = [[1,2,3],[4,5,6],[7,8,9]]

[x for sublist in list2 for x in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
squares = [i * i for i in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# new_list = [expression (if conditional) for member in iterable]

original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

prices = [i if i > 0 else 0 for i in original_prices]

prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [9]:
def get_price(price):
    return price if price > 0 else 0

[get_price(i) for i in original_prices]

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [7]:
list_1 = [2, 6, 7, 3]
list_2 = [1, 4, 2]

[x * y for x in list_1 for y in list_2 ]

[2, 8, 4, 6, 24, 12, 7, 28, 14, 3, 12, 6]

In [2]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

[x + y + z for x,y,z in zip(a,b,c)]

[15, 18, 21, 24]

In [5]:
list_1 = [1, 2, 3 , 4]
list_2 = ['a', 'b', 'c', 'd']
list_3 = ['6', '7', '8', '9']

[(i, j) for i, j in zip(list_1, list_2)]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [6]:
[(i, j, k) for i, j, k in zip(list_1, list_2, list_3)]

[(1, 'a', '6'), (2, 'b', '7'), (3, 'c', '8'), (4, 'd', '9')]

In [4]:
test_list = ['Geeks for Geeks', 'is', 'best computer science portal']

s = [x.split() for x in test_list]

s

[['Geeks', 'for', 'Geeks'], ['is'], ['best', 'computer', 'science', 'portal']]

In [5]:
[x for y in s for x in y]

['Geeks', 'for', 'Geeks', 'is', 'best', 'computer', 'science', 'portal']

In [2]:
# List of Sentence to List of list words

norm_bible = ['king james bible',
             'old testament king james bible',
             'first book moses called genesis',
             'beginning god created heaven earth',
             'earth without form void darkness upon face deep',
             'spirit god moved upon face waters',
             'god said let light light',
             'god saw light good god divided light darkness',
             'god called light day darkness called night',
             'evening morning first day']

from keras.preprocessing import text

tokenizer = text.Tokenizer()
tokenizer.fit_on_texts(norm_bible)
word2id = tokenizer.word_index


[[w for w in text.text_to_word_sequence(doc)] for doc in norm_bible]

Using TensorFlow backend.

[['king', 'james', 'bible'],
 ['old', 'testament', 'king', 'james', 'bible'],
 ['first', 'book', 'moses', 'called', 'genesis'],
 ['beginning', 'god', 'created', 'heaven', 'earth'],
 ['earth', 'without', 'form', 'void', 'darkness', 'upon', 'face', 'deep'],
 ['spirit', 'god', 'moved', 'upon', 'face', 'waters'],
 ['god', 'said', 'let', 'light', 'light'],
 ['god', 'saw', 'light', 'good', 'god', 'divided', 'light', 'darkness'],
 ['god', 'called', 'light', 'day', 'darkness', 'called', 'night'],
 ['evening', 'morning', 'first', 'day']]