In [9]:
# Create a list  using [] 

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [10]:
# Create a list using list()

list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [11]:
# Check the type 

type(list([1,2,3,4,5]))

list

In [16]:
# List is collection of homogeneous and heterogenious type

# homogeneous: Values of same type
# Heterogenuos: Values of diffeent types

list1 = [1,'Mysore',45,'Banglore',True,(5+8j)]

list1

[1, 'Mysore', 45, 'Banglore', True, (5+8j)]

In [22]:
list1[:3]

[1, 'Mysore', 45]

In [30]:
list1[-3:]

['Banglore', True, (5+8j)]

In [31]:
list1[:-3]

[1, 'Mysore', 45]

In [28]:
list1[-3:-1]

['Banglore', True]

In [23]:
list1[1:4]

['Mysore', 45, 'Banglore']

In [25]:
list1[::-1] # Reverse list

[(5+8j), True, 'Banglore', 45, 'Mysore', 1]

In [33]:
# List of list

list1 = [1,'Mysore',45,'Banglore',True,(5+8j),[4,7,5,2]]

list1

[1, 'Mysore', 45, 'Banglore', True, (5+8j), [4, 7, 5, 2]]

In [36]:
list1[6] # Get the list

[4, 7, 5, 2]

In [4]:
a = [1,2,3,4,5,'Hello','Santhosh',[4,7,8]]

m = []

for i in a:
    m.append(i)
    print(i)
    
m

1
2
3
4
5
Hello
Santhosh
[4, 7, 8]

[1, 2, 3, 4, 5, 'Hello', 'Santhosh', [4, 7, 8]]

In [6]:
b = [1,2,3,45,"mysore",'ABB']


a + b

[1, 2, 3, 4, 5, 'Hello', 'Santhosh', [4, 7, 8], 1, 2, 3, 45, 'mysore', 'ABB']

In [9]:
b * 2

[1, 2, 3, 45, 'mysore', 'ABB', 1, 2, 3, 45, 'mysore', 'ABB']

In [11]:
(a+b) *2

[1,
 2,
 3,
 4,
 5,
 'Hello',
 'Santhosh',
 [4, 7, 8],
 1,
 2,
 3,
 45,
 'mysore',
 'ABB',
 1,
 2,
 3,
 4,
 5,
 'Hello',
 'Santhosh',
 [4, 7, 8],
 1,
 2,
 3,
 45,
 'mysore',
 'ABB']

In [70]:
list('Santhosh','adsa') # Listr cannot create without '[]'

TypeError: list expected at most 1 arguments, got 2

In [71]:
b = list(['Santhosh','adsa'])

b

['Santhosh', 'adsa']

In [72]:
b.append("asfda")

b

['Santhosh', 'adsa', 'asfda']

In [73]:
b.insert(1,"vbfg") # Insert 'vbfg' at specific index or it can be able to insert data any position based on index

b

['Santhosh', 'vbfg', 'adsa', 'asfda']

In [74]:
b.insert(-1,"uuu")

b

['Santhosh', 'vbfg', 'adsa', 'uuu', 'asfda']

In [75]:
b.insert(4,[5,3,7,4])

b

['Santhosh', 'vbfg', 'adsa', 'uuu', [5, 3, 7, 4], 'asfda']

In [76]:
b.pop() # List in first out : value fom Last Index

'asfda'

In [77]:
b.pop(2)  # pop the value from the index '2'

'adsa'

In [78]:
b[::-1] # Reverse String # Reverse is not permanent

[[5, 3, 7, 4], 'uuu', 'vbfg', 'Santhosh']

In [80]:
b.reverse() # It will impact the original dataset

b

['Santhosh', 'vbfg', 'uuu', [5, 3, 7, 4]]

In [82]:
b.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [84]:
c = [5,6,3,8,1,19,1]

c.sort()

c

[1, 1, 3, 5, 6, 8, 19]

In [85]:
b = ["rt","ab","op","aa","lg"]

b.sort()

b

['aa', 'ab', 'lg', 'op', 'rt']

In [90]:
b.count('aa')  # Return total number of occurence of 'aa' in the list

1

In [93]:
a = [3,4,5,6,7]
b = [56,7,2,8,7]
c = [4,5,2,90,11,2]

d = [a,b,c]

d

[[3, 4, 5, 6, 7], [56, 7, 2, 8, 7], [4, 5, 2, 90, 11, 2]]

In [107]:
d[0]

[3, 4, 5, 6, 7]

In [108]:
d[0][2]

5

In [109]:
d[2][3]

90

In [110]:
d

[[3, 4, 5, 6, 7], [56, 7, 2, 8, 7], [4, 5, 2, 90, 11, 2]]

In [111]:
# reverse of lists in list

In [112]:
d = d[::-1]

In [113]:
d

[[4, 5, 2, 90, 11, 2], [56, 7, 2, 8, 7], [3, 4, 5, 6, 7]]

In [114]:
m = []

for i in d:
    m.append(i[::-1])

In [115]:
m

[[2, 11, 90, 2, 5, 4], [7, 8, 2, 7, 56], [7, 6, 5, 4, 3]]

In [134]:
d

[[7, 6, 5, 4, 3], [7, 8, 2, 7, 56], [2, 11, 90, 2, 5, 4]]

In [135]:
d = [x[::-1] for x in d[::-1]] # using list Comprehension

In [136]:
d

[[4, 5, 2, 90, 11, 2], [56, 7, 2, 8, 7], [3, 4, 5, 6, 7]]

In [141]:
n = []

# Get the elements from second index of the sub list
for i in d:
    n.append(i[2])   
n

[2, 2, 5]

In [144]:
[x[2] for x in d] # usig list comprehension

[2, 2, 5]

In [145]:
s = [1,2,3,4,5]

s.append([3,4,5,6,7])

In [146]:
s

[1, 2, 3, 4, 5, [3, 4, 5, 6, 7]]

In [147]:
m = [4,5,6,7,'sda']

m

[4, 5, 6, 7, 'sda']

In [148]:
m.append([4.5,7,1])

m

[4, 5, 6, 7, 'sda', [4.5, 7, 1]]

In [150]:
m.extend([55,66,76,99]) # unwrap (ravel) going to give only one list : Unwrap the data and insert into the list

m

[4, 5, 6, 7, 'sda', [4.5, 7, 1], 55, 66, 76, 99, 55, 66, 76, 99]

In [151]:
m.index(7)

3

In [152]:
m.index(55)

6

In [155]:
# Tuples

(1,2,3,'adsa')

(1, 2, 3, 'adsa')