In [1]:
# Dictionary : Key value Pairs

# Duplicate keys are not allowed
# It will try to override with latest entry

In [2]:
name = ["Santhosh","Anand","Sachin"]
age= [32,34,35]

dict = {"Name":name,
        "Age":age,
        "Company":["Zomoto","Quicker","FoodPanda"]}

In [3]:
dict["Age"]

[32, 34, 35]

In [4]:
dict = {"Name":"Santhosh","Age":32}

dict

{'Name': 'Santhosh', 'Age': 32}

In [5]:
# Duplicate keys are not allowed

dict = {"Name":"Santhosh","Age":32,"Name":"Anand"}

dict

{'Name': 'Anand', 'Age': 32}

In [6]:
name = ["Santhosh","Anand","Sachin"]
age= [32,34,35]
subDict= {"Project_Santhosh":[1,2,3,4,5],"Project_Anand":[6,7,8,9,10],"Projec_Sachin":[11,12,1,31,4]}

dict = {"Name":name,
        "Age":age,
        "Company":["ABB","Dell","Volvo"],
         "Projects":subDict}

dict["Projects"]["Project_Santhosh"][3]

4

In [7]:
# for loop going to give all the list of items for all keys

for i in dict:
    print(dict[i])

['Santhosh', 'Anand', 'Sachin']
[32, 34, 35]
['ABB', 'Dell', 'Volvo']
{'Project_Santhosh': [1, 2, 3, 4, 5], 'Project_Anand': [6, 7, 8, 9, 10], 'Projec_Sachin': [11, 12, 1, 31, 4]}

In [8]:
dict.keys()

dict_keys(['Name', 'Age', 'Company', 'Projects'])

In [9]:
dict.items()

dict_items([('Name', ['Santhosh', 'Anand', 'Sachin']), ('Age', [32, 34, 35]), ('Company', ['ABB', 'Dell', 'Volvo']), ('Projects', {'Project_Santhosh': [1, 2, 3, 4, 5], 'Project_Anand': [6, 7, 8, 9, 10], 'Projec_Sachin': [11, 12, 1, 31, 4]})])

In [10]:
dict.values()

dict_values([['Santhosh', 'Anand', 'Sachin'], [32, 34, 35], ['ABB', 'Dell', 'Volvo'], {'Project_Santhosh': [1, 2, 3, 4, 5], 'Project_Anand': [6, 7, 8, 9, 10], 'Projec_Sachin': [11, 12, 1, 31, 4]}])

In [11]:
# Key values based on the Key

dict.get('Name')

['Santhosh', 'Anand', 'Sachin']

In [12]:
dict.get('Age')

[32, 34, 35]

In [13]:
for i in dict.keys():
    print(dict.get(i))

['Santhosh', 'Anand', 'Sachin']
[32, 34, 35]
['ABB', 'Dell', 'Volvo']
{'Project_Santhosh': [1, 2, 3, 4, 5], 'Project_Anand': [6, 7, 8, 9, 10], 'Projec_Sachin': [11, 12, 1, 31, 4]}

In [14]:
dict

{'Name': ['Santhosh', 'Anand', 'Sachin'],
 'Age': [32, 34, 35],
 'Company': ['ABB', 'Dell', 'Volvo'],
 'Projects': {'Project_Santhosh': [1, 2, 3, 4, 5],
  'Project_Anand': [6, 7, 8, 9, 10],
  'Projec_Sachin': [11, 12, 1, 31, 4]}}

In [15]:
# Add New Keys and values

dict["Salary"] = [30000,40000,2000]

In [16]:
dict

{'Name': ['Santhosh', 'Anand', 'Sachin'],
 'Age': [32, 34, 35],
 'Company': ['ABB', 'Dell', 'Volvo'],
 'Projects': {'Project_Santhosh': [1, 2, 3, 4, 5],
  'Project_Anand': [6, 7, 8, 9, 10],
  'Projec_Sachin': [11, 12, 1, 31, 4]},
 'Salary': [30000, 40000, 2000]}

In [17]:
# Dictionalry Comprehension

{x: x*x for x in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

odd_squares

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [19]:
# Membership Test for Dictionary Keys
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

# Output: True
print(1 in squares)

# Output: True
print(2 not in squares)

# membership tests for key only not value
# Output: False
print(49 in squares)

True
True
False

In [20]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

double_dict1 = {k:v*2 for (k,v) in dict1.items()}

print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [21]:
dict2 = ["santhosh","kuamr","Anand",'Joshi']
d = {}

for i in dict2:
    d[i] = i.isupper()
    
d

{'santhosh': False, 'kuamr': False, 'Anand': False, 'Joshi': False}

In [22]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}