In [1]:
# Create a list  using [] 

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [2]:
# Create a list using list()

list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [3]:
# Check the type 

type(list([1,2,3,4,5]))

list

In [4]:
# List is collection of homogeneous and heterogenious type

# homogeneous: Values of same type
# Heterogenuos: Values of diffeent types

list1 = [1,'Mysore',45,'Banglore',True,(5+8j)]

list1

[1, 'Mysore', 45, 'Banglore', True, (5+8j)]

In [5]:
list1[:3]

[1, 'Mysore', 45]

In [6]:
list1[-3:]

['Banglore', True, (5+8j)]

In [7]:
list1[:-3]

[1, 'Mysore', 45]

In [8]:
list1[-3:-1]

['Banglore', True]

In [9]:
list1[1:4]

['Mysore', 45, 'Banglore']

In [10]:
list1[::-1] # Reverse list

[(5+8j), True, 'Banglore', 45, 'Mysore', 1]

In [11]:
# List of list

list1 = [1,'Mysore',45,'Banglore',True,(5+8j),[4,7,5,2]]

list1

[1, 'Mysore', 45, 'Banglore', True, (5+8j), [4, 7, 5, 2]]

In [12]:
list1[6] # Get the list

[4, 7, 5, 2]

In [13]:
list1[6] # Get the list

[4, 7, 5, 2]

In [14]:
a = [1,2,3,4,5,'Hello','Santhosh',[4,7,8]]

m = []

for i in a:
    m.append(i)
    print(i)
    
m

1
2
3
4
5
Hello
Santhosh
[4, 7, 8]

[1, 2, 3, 4, 5, 'Hello', 'Santhosh', [4, 7, 8]]

In [15]:
b = [1,2,3,45,"mysore",'ABB']


a + b

[1, 2, 3, 4, 5, 'Hello', 'Santhosh', [4, 7, 8], 1, 2, 3, 45, 'mysore', 'ABB']

In [16]:
b * 2

[1, 2, 3, 45, 'mysore', 'ABB', 1, 2, 3, 45, 'mysore', 'ABB']

In [17]:
(a+b) *2

[1,
 2,
 3,
 4,
 5,
 'Hello',
 'Santhosh',
 [4, 7, 8],
 1,
 2,
 3,
 45,
 'mysore',
 'ABB',
 1,
 2,
 3,
 4,
 5,
 'Hello',
 'Santhosh',
 [4, 7, 8],
 1,
 2,
 3,
 45,
 'mysore',
 'ABB']

In [18]:
list('Santhosh','adsa') # Listr cannot create without '[]'

TypeError: list expected at most 1 arguments, got 2

In [19]:
b = list(['Santhosh','adsa'])

b

['Santhosh', 'adsa']

In [20]:
b.append("asfda")

b

['Santhosh', 'adsa', 'asfda']

In [21]:
b.insert(1,"vbfg") # Insert 'vbfg' at specific index or it can be able to insert data any position based on index

b

['Santhosh', 'vbfg', 'adsa', 'asfda']

In [22]:
b.insert(-1,"uuu")

b

['Santhosh', 'vbfg', 'adsa', 'uuu', 'asfda']

In [23]:
b.insert(4,[5,3,7,4])

b

['Santhosh', 'vbfg', 'adsa', 'uuu', [5, 3, 7, 4], 'asfda']

In [24]:
b.pop() # List in first out : value fom Last Index

'asfda'

In [25]:
b.pop(2)  # pop the value from the index '2'

'adsa'

In [26]:
b[::-1] # Reverse String # Reverse is not permanent

[[5, 3, 7, 4], 'uuu', 'vbfg', 'Santhosh']

In [27]:
b.reverse() # It will impact the original dataset

b

[[5, 3, 7, 4], 'uuu', 'vbfg', 'Santhosh']

In [28]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [29]:
c = [5,6,3,8,1,19,1]

c.sort()

c

[1, 1, 3, 5, 6, 8, 19]

In [30]:
b = ["rt","ab","op","aa","lg"]

b.sort()

b

['aa', 'ab', 'lg', 'op', 'rt']

In [31]:
b.count('aa')  # Return total number of occurence of 'aa' in the list}

1

In [32]:
a = [3,4,5,6,7]
b = [56,7,2,8,7]
c = [4,5,2,90,11,2]

d = [a,b,c]

d

[[3, 4, 5, 6, 7], [56, 7, 2, 8, 7], [4, 5, 2, 90, 11, 2]]

In [33]:
d[0]

[3, 4, 5, 6, 7]

In [34]:
d[0][2]

5

In [37]:
d[2][3]

90

In [38]:
d

[[3, 4, 5, 6, 7], [56, 7, 2, 8, 7], [4, 5, 2, 90, 11, 2]]

In [39]:
# reverse of lists in list

In [40]:
d = d[::-1]

In [41]:
d

[[4, 5, 2, 90, 11, 2], [56, 7, 2, 8, 7], [3, 4, 5, 6, 7]]

In [42]:
m = []

for i in d:
    m.append(i[::-1])

In [43]:
m

[[2, 11, 90, 2, 5, 4], [7, 8, 2, 7, 56], [7, 6, 5, 4, 3]]

In [44]:
d

[[4, 5, 2, 90, 11, 2], [56, 7, 2, 8, 7], [3, 4, 5, 6, 7]]

In [45]:
d = [x[::-1] for x in d[::-1]] # using list Comprehension

In [47]:
d

[[7, 6, 5, 4, 3], [7, 8, 2, 7, 56], [2, 11, 90, 2, 5, 4]]

In [48]:
n = []

# Get the elements from second index of the sub list
for i in d:
    n.append(i[2])   
n

[5, 2, 90]

In [49]:
[x[2] for x in d] # usig list comprehension

[5, 2, 90]

In [50]:
s = [1,2,3,4,5]

s.append([3,4,5,6,7])

In [51]:
s

[1, 2, 3, 4, 5, [3, 4, 5, 6, 7]]

In [52]:
m = [4,5,6,7,'sda']

m

[4, 5, 6, 7, 'sda']

In [53]:
m.append([4.5,7,1])

m

[4, 5, 6, 7, 'sda', [4.5, 7, 1]]

In [54]:
m.extend([55,66,76,99]) # unwrap (ravel) going to give only one list : Unwrap the data and insert into the list

m

[4, 5, 6, 7, 'sda', [4.5, 7, 1], 55, 66, 76, 99]

In [55]:
m.index(7)

3

In [56]:
m.index(55)

6

In [57]:
# Tuples

(1,2,3,'adsa')

(1, 2, 3, 'adsa')

In [35]:
thislist = ["apple", "banana", "cherry",3]

In [36]:
print(thislist)

['apple', 'banana', 'cherry', 3]

In [13]:
# Access Items
print(thislist[1])

banana

In [14]:
# Change Item Value
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 3]

In [16]:
# Loop Through a List
for x in thislist:
  print(x)

apple
blackcurrant
cherry
3

In [19]:
# Check if Item Exists

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [20]:
# List Length

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [21]:
# Add Items

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [23]:
# Remove Item

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']