In [7]:
# A set is a collection which is both unordered and unindexed.

# Sets are written with curly brackets

# Duplicates are not allowed : It always try to unique values

# Index wise elemets are not available in set

# when do we use sets : We can use sets wherever we need unique elemenst or filter out duplicate elements

In [1]:
set1 = set([1,2,3,4,5])

set1

{1, 2, 3, 4, 5}

In [4]:
set1 = {1,2,3,4,5}

set1

{1, 2, 3, 4, 5}

In [9]:
# Sets are Unchangeable :  meaning that we cannot change the items after the set has been created.

set1[1] = 8

TypeError: 'set' object does not support item assignment

In [13]:
# Un Indexed

set1[3]

TypeError: 'set' object is not subscriptable

In [11]:
# Duplicates Not Allowed

set1 = {1,2,3,4,5,5}

set1

{1, 2, 3, 4, 5}

In [12]:
type(set1)

set

In [15]:
# Sets can take any kind of data Types

set3 = {1.0, "Hello", (1, 2, 3)}

set3

{(1, 2, 3), 1.0, 'Hello'}

In [19]:
# set cannot have mutable items
#  here [3, 4] is a mutable list

my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [20]:
# add an element
my_set = {1, 3}

my_set.add(2)

In [23]:
# add multiple elements

my_set.update([2, 3, 4])

my_set

{1, 2, 3, 4}

In [28]:
my_set.update([4,3, 5], {1, 6, 8})

my_set

{1, 2, 3, 4, 5, 6, 8}

In [29]:
# Union

A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
b = {1,2}

In [44]:
type(b)

set

In [45]:
b.add('asda')

In [61]:
b.pop()

1

In [62]:
b.pop(1)

TypeError: pop() takes no arguments (1 given)

In [63]:
s = {3,5,4,6,3,34,2,"Santhosh","Kumar","ab","ef"}

In [1]:
# It does not hold duplicate values and is unordered

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [3]:
# Duplicate are not allowed
thisset = {"apple", "banana", "cherry","apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [4]:
# Unordered
thisset = {1,8,6,5,9,1}
print(thisset)

{1, 5, 6, 8, 9}

In [5]:
A = set('qwerty')
print(A)

{'e', 'q', 'r', 'y', 't', 'w'}

In [6]:
A = {1, 2, 3}
print(1 in A, 4 not in A)

True True

In [7]:
# Union Operation
A= {1,2,3,4}
B ={3,5,7}

A.union(B)

{1, 2, 3, 4, 5, 7}

In [8]:
# Adds all elements of array B to the set A.

A |= B 
A.update(B)

A

{1, 2, 3, 4, 5, 7}

In [9]:
# Returns a set which is the intersection of sets A and B.
A.intersection(B) 
A & B

{3, 5, 7}

In [11]:
# Leaves in the set A only items that belong to the set B.
A &= B 
A.intersection_update(B)

A

{3, 5, 7}

In [12]:
# Returns the set difference of A and B (the elements included in A, but not included in B).
A - B 
A.difference(B)

A

{3, 5, 7}

In [13]:
# Removes all elements of B from the set A.
A -= B 
A.difference_update(B)
A

set()

In [3]:
# A set is a collection which is unordered and unindexed

set = {"One","Two","Three","Four","Five"}

# Access Items
for i in set:
    print(i)
    
# print(set[3]): Error

print(set) # display of the items on the order are different

# Add Item
set.add("Six")

# Add multiple Items
set.update(["Seven","Eight","Nine"])

# Get the length
len(set)

# Remove the item
set.remove("Four")

# Discard
set.discard("Four") # If the item to remove does not exist, discard() will NOT raise an error.

set.pop() # Remove the last item by using the pop() method

set1 = {"One","Two","Three","Four","Five","Seven"}
set2 = {"Four","Five","Six","Seven","Eight","Nine","Ten"}

set1.intersection(set2) # InterSection

set1.union(set2) # Union

set1.difference(set2) # returns a set containing the different between set and set2

Five
Four
One
Two
Three
{'Five', 'Four', 'One', 'Two', 'Three'}

{'One', 'Three', 'Two'}

In [5]:
# Set Intersection

set1 = set("abcde")
set2 = set("ae")

print(set1.intersection(set2))


# Set Union
set3 = {'a'}
print(set1.intersection(set2,set3))

print(set1.union(set2))
print(set1.union(set2,set3))
# or print(set1.union(set2).union(set3))

TypeError: 'set' object is not callable