In [1]:
# List Comprehension :

In [1]:
# Example 1

input = [1,2,3,4,5,6,7,8,9]

list = [x*x for x in input]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Example 2

list = [x*x for x in input if x%2 ==0]
list

[4, 16, 36, 64]

In [3]:
# Example 3

input = ['A','B','C','E','F']

list = [x.lower() for x in input]
list

['a', 'b', 'c', 'e', 'f']

In [4]:
# Example 4
a =5
[[a,b,a*b] for b in range(1,10)]

[[5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45]]

In [2]:
# Short or one line manipulating the data

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

x = np.array([1,2,3,4,5])
y = np.array([5,7,9,11,13])

x1 = [val for val in x]
print(x1)
print("****************")

x2 = [val**2 for val in x]
print(x2)
print("****************")

x3 = sum([val for val in x])
print(x3)
print("****************")

x4 = [val for val in (x - y)]
print(x4)
print("****************")

x5 = [val**2 for val in (x-y)]
print(x5)
print("****************")

x6 = sum([val**2 for val in (x-y)])
print(x6)
print("****************")

[1, 2, 3, 4, 5]
****************
[1, 4, 9, 16, 25]
****************
15
****************
[-4, -5, -6, -7, -8]
****************
[16, 25, 36, 49, 64]
****************
190
****************

In [5]:
listOfWords = ["this","is","a","list","of","words"]
items = [ x[0] for x in listOfWords ]
items

['t', 'i', 'a', 'l', 'o', 'w']

In [6]:
string = "Hello 12345 World"
numbers = [x for x in string if x.isdigit()]
numbers

['1', '2', '3', '4', '5']

In [7]:
x = [10,20,50]
y = [20,40,60]

[i+j for i in x for j in y]

[30, 50, 70, 40, 60, 80, 70, 90, 110]

In [8]:
["Even" if i%2==0 else "Odd" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [ ]:
lst = [1,2,3,4,5,6]

In [2]:
# Fetch all the values in list

[x for x in lst]

[1, 2, 3, 4, 5, 6]

In [3]:
# Expression : Square of the elemnets

[x*2 for x in lst]

[2, 4, 6, 8, 10, 12]

In [4]:
# Expression : condition even

[x for x in lst if (x %2 ==0)]

[2, 4, 6]

In [5]:
["Even" if i%2==0 else "Odd" for i in range(8)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [6]:
[[i*j for j in range(1,11)] for i in range(7,9)]

[[7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]

In [ ]:
planets = [['Mercury', 'Venus', 'Earth'], ['Mars', 'Jupiter', 'Saturn'], ['Uranus', 'Neptune', 'Pluto']] 

[val for sublist in matrix for val in sublist]

In [7]:
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [8]:
sdff = [['The', 'King', 'James', 'Bible'],
        ['The', 'Old', 'Testament', 'of', 'the', 'King', 'James', 'Bible'],
        ['The', 'First', 'Book', 'of', 'Moses', ':', 'Called', 'Genesis']]

txt = []

In [9]:
[val for sublist in sdff for val in sublist]

['The',
 'King',
 'James',
 'Bible',
 'The',
 'Old',
 'Testament',
 'of',
 'the',
 'King',
 'James',
 'Bible',
 'The',
 'First',
 'Book',
 'of',
 'Moses',
 ':',
 'Called',
 'Genesis']

In [1]:
l = [['40', '20', '10', '30'], 
     ['20', '20', '20', '20', '20', '30', '20'], 
     ['30', '20', '30', '50', '10', '30', '20', '20', '20'], 
     ['100', '100'], 
     ['100', '100', '100', '100', '100'], 
     ['100', '100', '100', '100']]

In [2]:

[float(y) for x in l for y in x]

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

In [1]:
list1 = ["apple",2, "banana", 1,5]

[x for x in list1 if type(x) ==int ]

[2, 1, 5]

In [3]:
# Flattening nested Sub-Lists

list2 = [[1,2,3],[4,5,6],[7,8,9]]

[x for sublist in list2 for x in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
squares = [i * i for i in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
# list Comprehensions: List comprehensions provide a concise way to create lists.

# Example 1: print 0 to 10
x = [i for i in range(10)]
print(x)

# Example 2: square of numbers
x = [i**2 for i in range(5)]
print(x)

# Example 3:cube of the numbers
x = [i**3 for i in range(5)]
print(x)

# Example 4:
list = [3,4,5,6]
x = [i+2 for i in list]
print(x)

# Example 5:
list = ["this","is","a","list","words"]
x = [words[0] for words in list]
print(x)

# Example 6:
string = "Hello 1234 worlds"
x = [i for i in string if i.isdigit()]
print(x)

# Example 7:
list1 = [10,30,50]
list2 = [20,40,60]
x = [i+j for i in list1 for j in list2]
print(x)

# Example 8:
x = [i for i in range(1,11) if i%2 ==1]
print(x)

# Example 9: Cross Product
colours = ["red","green","yellow","blue"]
things = ["house","car","tree"]
x = [(i,j) for i in colours for j in things]
print(x)

# Example 10 : if..else
x = ["Even" if i%2==0 else 'Odd' for i in range(21)]
print(x)

# Example 11: Nested if...
m = [i for i in range(21) if i%2==0 if i%5==0] 
print(m)

# Example 12 : flatten to list
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatList=[num for row in matrix for num in row]
print(flatList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16]
[0, 1, 8, 27, 64]
[5, 6, 7, 8]
['t', 'i', 'a', 'l', 'w']
['1', '2', '3', '4']
[30, 50, 70, 50, 70, 90, 70, 90, 110]
[1, 3, 5, 7, 9]
[('red', 'house'), ('red', 'car'), ('red', 'tree'), ('green', 'house'), ('green', 'car'), ('green', 'tree'), ('yellow', 'house'), ('yellow', 'car'), ('yellow', 'tree'), ('blue', 'house'), ('blue', 'car'), ('blue', 'tree')]
['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']
[0, 10, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# new_list = [expression (if conditional) for member in iterable]

original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

prices = [i if i > 0 else 0 for i in original_prices]

prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [9]:
def get_price(price):
    return price if price > 0 else 0

[get_price(i) for i in original_prices]

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [7]:
list_1 = [2, 6, 7, 3]
list_2 = [1, 4, 2]

[x * y for x in list_1 for y in list_2 ]

[2, 8, 4, 6, 24, 12, 7, 28, 14, 3, 12, 6]

In [2]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

[x + y + z for x,y,z in zip(a,b,c)]

[15, 18, 21, 24]

In [5]:
list_1 = [1, 2, 3 , 4]
list_2 = ['a', 'b', 'c', 'd']
list_3 = ['6', '7', '8', '9']

[(i, j) for i, j in zip(list_1, list_2)]

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [6]:
[(i, j, k) for i, j, k in zip(list_1, list_2, list_3)]

[(1, 'a', '6'), (2, 'b', '7'), (3, 'c', '8'), (4, 'd', '9')]

In [4]:
test_list = ['Geeks for Geeks', 'is', 'best computer science portal']

s = [x.split() for x in test_list]

s

[['Geeks', 'for', 'Geeks'], ['is'], ['best', 'computer', 'science', 'portal']]

In [5]:
[x for y in s for x in y]

['Geeks', 'for', 'Geeks', 'is', 'best', 'computer', 'science', 'portal']

In [2]:
# List of Sentence to List of list words

norm_bible = ['king james bible',
             'old testament king james bible',
             'first book moses called genesis',
             'beginning god created heaven earth',
             'earth without form void darkness upon face deep',
             'spirit god moved upon face waters',
             'god said let light light',
             'god saw light good god divided light darkness',
             'god called light day darkness called night',
             'evening morning first day']

from keras.preprocessing import text

tokenizer = text.Tokenizer()
tokenizer.fit_on_texts(norm_bible)
word2id = tokenizer.word_index


[[w for w in text.text_to_word_sequence(doc)] for doc in norm_bible]

Using TensorFlow backend.

[['king', 'james', 'bible'],
 ['old', 'testament', 'king', 'james', 'bible'],
 ['first', 'book', 'moses', 'called', 'genesis'],
 ['beginning', 'god', 'created', 'heaven', 'earth'],
 ['earth', 'without', 'form', 'void', 'darkness', 'upon', 'face', 'deep'],
 ['spirit', 'god', 'moved', 'upon', 'face', 'waters'],
 ['god', 'said', 'let', 'light', 'light'],
 ['god', 'saw', 'light', 'good', 'god', 'divided', 'light', 'darkness'],
 ['god', 'called', 'light', 'day', 'darkness', 'called', 'night'],
 ['evening', 'morning', 'first', 'day']]

In [1]:
# using List comprehension

norm_bible = ['king james bible',
             'old testament king james bible',
             'first book moses called genesis',
             'beginning god created heaven earth',
             'earth without form void darkness upon face deep',
             'spirit god moved upon face waters',
             'god said let light light',
             'god saw light good god divided light darkness',
             'god called light day darkness called night',
             'evening morning first day']

[[word for word in document.lower().split()] for document in norm_bible]

[['king', 'james', 'bible'],
 ['old', 'testament', 'king', 'james', 'bible'],
 ['first', 'book', 'moses', 'called', 'genesis'],
 ['beginning', 'god', 'created', 'heaven', 'earth'],
 ['earth', 'without', 'form', 'void', 'darkness', 'upon', 'face', 'deep'],
 ['spirit', 'god', 'moved', 'upon', 'face', 'waters'],
 ['god', 'said', 'let', 'light', 'light'],
 ['god', 'saw', 'light', 'good', 'god', 'divided', 'light', 'darkness'],
 ['god', 'called', 'light', 'day', 'darkness', 'called', 'night'],
 ['evening', 'morning', 'first', 'day']]

In [3]:
# Dictionary Comprehension

{x: x*x for x in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

double_dict1 = {k:v*2 for (k,v) in dict1.items()}

print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

In [5]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [1]:
from string import ascii_lowercase

dict(((x,y) for y,x in enumerate(ascii_lowercase,1)))

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [2]:
import numpy as np

y_true = [1,1,1,1]
y_pred = [14,1,2,1]

[np.square((x-y)) for x,y in zip(y_true, y_pred)]

[169, 0, 1, 0]