In [2]:
import sqlite3

In [4]:
# Create the Databse 'Santhosh'
c = sqlite3.connect("Santhosh")

In [6]:
c.execute('drop table if exists abc')

In [7]:
c.execute("create table abc(id int,name text,score int)")

In [8]:
c.execute("insert into abc(id,name,score) values (345,'Santhosh',453)")

In [16]:
for i in c.execute("select * from abc"):
    print(i)

(345, 'Santhosh', 453)

In [18]:
for i in c.execute("select * from abc order by id"):
    print(i)

(345, 'Santhosh', 453)

In [21]:
for i in c.execute("select id,name from abc where name ='Santhosh'"):
    print(i)

(345, 'Santhosh')

In [25]:
[x for x in c.execute("select * from abc")]

[(345, 'Santhosh', 453)]